@use "../../styles/variables.module.scss";
@use "../../styles/mixins.module.scss" as mixins;

.container {
  display: flex;
  background-color: #fff;

  .mainWrapper {
    width: 100%;
    height: 100%;
    margin-left: 60px;
    flex: 1;
  }

  .main {
    height: calc(100vh - 56px);
    display: flex;
    flex: 1;
  }

  .contentWrapper {
    width: 100%;
    height: 100%;
  }
}
