@use "../../styles/variables.module.scss";
@use "../../styles/mixins.module.scss" as mixins;

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f5e6d3;

  .content {
    width: 100%;
    max-width: 448px;
  }
}
