.container {
  display: flex;
  height: 100%;
  background-color: #fff;
  color: #1f2937;
  position: relative;
  width: 100%;
  max-width: 60px;
  top: 0;
  left: 0;
  position: fixed;
  border-right: 1px solid #e5e7eb;
  padding: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 50;

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .top,
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    .logo {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 16px;
        height: 16px;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 640px) {
  .container {
    .tabs {
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;

      .top {
        gap: 16px;

        .logo {
          height: 48px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
